In [1]:
pip install mysql-connector-python==8.3.0

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python==8.3.0 in c:\users\khans\appdata\roaming\python\python311\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [2]:
import mysql.connector
conn=mysql.connector.connect(host='localhost',password='1234',user='root')

if  conn.is_connected():
    print("connection Established")

connection Established

In [3]:
mycursor=conn.cursor()

In [4]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [5]:
import mysql.connector
conn=mysql.connector.connect(host='localhost',password='1234',user='root')

In [6]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')
mycursor=mydb.cursor()
mycursor.execute("create database SODS")

In [7]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
t="CREATE TABLE Book(bookid int(4),title varchar(20),price float(5,2))"
mycursor.execute(t)

In [8]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('book',)

In [9]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'Python2',350)
mycursor.execute(s,r1)
mydb.commit()

In [10]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)

In [11]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'SQL',550)
mycursor.execute(s,r1)
mydb.commit()

In [12]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)

In [13]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'ML',450)
mycursor.execute(s,r1)
mydb.commit()

In [14]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [15]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s= "UPDATE book SET price=price+100 WHERE price=350"
mycursor.execute(s)
mydb.commit()
print(mycursor.rowcount,"Records affected")

1 Records affected

In [16]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 450.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [17]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="DELETE FROM book WHERE price=450"
mycursor.execute(s)
mydb.commit()

In [18]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)